<ion-view view-title="{{state | uppercase}}, United States">
  <ion-content class="has-header">
    <div ng-if="readyForMap" id="map_us" style="width: 100%; height: 100vh">
      <!-- <ion-spinner></ion-spinner> -->
    </div>
  </ion-content>




  <script id="point-popover.html" type="text/ng-template">
    <ion-popover-view>
      <!-- <ion-header-bar>
        <h1 class="title">{{pointData.city}}</h1>
      </ion-header-bar> -->
      <ion-content>
        <div class="row">
          <div ng-bind-html="pointData.comments" class="col col-100">{{pointData.comments}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>Date Time:</strong></div>
          <div class="col col-70">{{pointData.datetime}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>Date Posted:</strong></div>
          <div class="col col-70">{{pointData.date_posted}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>City:</strong></div>
          <div class="col col-70">{{pointData.city}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>State:</strong></div>
          <div class="col col-70">{{pointData.state}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>Duration (hrs/mins):</strong></div>
          <div class="col col-70">{{pointData.duration_hours_mins}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>Duration (secs):</strong></div>
          <div class="col col-70">{{pointData.duration_seconds}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><strong>Shape:</strong></div>
          <div class="col col-70">{{pointData.shape}}</div>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>


</ion-view>
